:root {
  --main-background-color: white;
  --second-backgroud-color: #f6f6f6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Tahoma, Arial;
}
main {
  width: 800px;
  margin: 20px auto;
  background-color: var(--second-backgroud-color);
  padding: 15px;
}
.app-area {
  background-color: var(--main-background-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.quiz-area {
  background-color: var(--main-background-color);
  padding: 15px;
  margin-top: 20px;
}
.answer-area {
  background-color: var(--main-background-color);
  padding: 0 20px 20px;
}
.answer-area .answer {
  padding: 15px;
  background-color: var(--second-backgroud-color);
}
.answer-area .answer:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}
.answer-area .answer input[type="radio"]:checked + label {
  color: #0075ff;
}
.answer-area .answer label {
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
  color: #777;
  position: relative;
  top: -1.5px;
}
.submit-btn {
  background-color: #0075ff;
  padding: 15px 20px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 6px;
  display: block;
  text-align: center;
  width: 100%;
  margin: 20px auto;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #026be3;
}
.bullets {
  border-top: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--main-background-color);
}
.bullets .spans {
  display: flex;
}
.bullets .spans span {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 5px;
}
.bullets .spans span.on {
  background-color: #0075ff;
}

.results span {
  font-weight: bold;
}
.results span.bad {
  color: #dc0a0a;
}
.results span.good {
  color: #009688;
}
.results span.perfect {
  color: #0075ff;
}
