* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Tahoma, sans-serif;
}
.start {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #2195f3d7;
}
.start span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #f32133;
  padding: 15px 25px;
  border: 2px solid white;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
}
.info {
  width: 1080px;
  margin: 20px auto 0;
  background-color: #f6f6f6;
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
  border: 2px solid #2196f3;
}
.info .name {
  float: left;
  width: 50%;
}
.info .try {
  float: right;
  width: 50%;
  text-align: right;
}
.icon-blocks {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  margin: 20px auto;
}
.icon-blocks.no-clicking {
  pointer-events: none;
}
.icon-blocks .game-block {
  height: 200px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  flex: 1 0 200px;
  margin: 0 10px 20px;
}
.icon-blocks .game-block .front {
  background-color: #333;
  line-height: 200px;
}
.icon-blocks .game-block .front::before {
  content: "?";
  color: white;
  font-weight: bold;
  font-size: 140px;
}
.icon-blocks .game-block .back {
  background-color: #607d88;
  transform: rotateY(180deg);
}
img {
  width: 140px;
  height: 140px;
  margin-top: 30px;
}
.icon-blocks .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 5px solid #2196f3;
}
.icon-blocks .game-block.is-flipped,
.icon-blocks .game-block.has-match {
  transform: rotateY(180deg);
}
